/* ==========================================================================
   Typography
   ========================================================================== */

body {
  font: normal 16px/1.4 "proxima-nova", sans-serif;
  color: #000;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  font-weight: 400;
}

h4 {
  font-size: 24px;
  font-weight: 400;
}

h5 {
  font-size: 18px;
  font-weight: 400;
}

h6 {
  font-size: 14px;
  font-weight: 500;
}

.green {
  color: #007050;
}

a {
  color: #000000;
  text-decoration: none !important;
}

a:hover {
  color: #7cb9a6;
  text-decoration: none !important;
}

/* ==========================================================================
   Elements
   ========================================================================== */

.container {
  max-width: 1366px;
}

hr.divider {
  border-top: 2px solid #2d3e50;
}

.vr-divider {
  padding: 0 3px 0 3px;
  color: #007050;
}

.img-thumbnail {
  background-color: Transparent;
  border: 0px;
  border-radius: 0px;
  transition: all .2s ease-in-out;
  height: auto;
  padding: 0px;
}

.exercise-section-row {
  margin-right: 0px !important;
  margin-left: 0px !important;
  margin-bottom: -1px;
}

.btn-1 {
  padding: 12px 36px 12px 36px;
  background-color: #59a28d;
  color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 0 4px 8px 4px rgba(167, 204, 192, 0.3), 0 6px 20px 4px rgba(167, 204, 192, 0.03);
  transition: all .2s ease-in-out;
}

.btn-1:hover {
  text-decoration: none;
  background-color: #1d7b5e;
  box-shadow: 0 5px 16px 5px rgba(167, 204, 192, 0.7), 0 5px 16px 5px rgba(167, 204, 192, 0.07);
  transform: scale(1.05);
}

.btn-2 {
  padding: 12px 36px 12px 36px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.1), 0 6px 20px 4px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
}

.btn-2:hover {
  text-decoration: none;
  background-color: #ffffff;
  box-shadow: 0 5px 16px 5px rgba(0, 0, 0, 0.4), 0 5px 16px 5px rgba(0, 0, 0, 0.04);
  transform: scale(1.05);
}

/* ==========================================================================
     Navbar
     ========================================================================== */

.full-navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}

.navbar {
  background-color: #59a28d;
  color: #ffffff;
  display: inherit;
}

.sub-navbar {
  background-color: #fff;
  color: #000000;
  display: inherit;
  padding: 14px 0 14px 0;
  font-weight: 700;
  font-size: 14px;
}

.sub-nav a {
  color: #000;
}

.sub-nav a:hover {
  color: #7cb9a6;
}

.sub-nav-link {
  padding-right: 1.9rem;
  text-decoration: none !important;
}

.navbar a {
  color: #fff !important;
}

.navbar a:hover {
  color: #7cb9a6 !important;
}

.navbar-container {
  padding: 0 30px 0 30px;
}

#navbarSupportedContent {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

.navbar-brand {
  color: #ffffff !important;
  font-weight: 400;
  letter-spacing: 1px;
}

.navbar-btn {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 0;
  padding: 4px 16px 4px 16px;
}

.navbar-btn:hover {
  font-weight: 600;
  letter-spacing: 1px;
  color: #7cb9a6;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 0;
  padding: 4px 16px 4px 16px;
}

.sub-nav {
  background-color: #fff;
}

.sub-nav a {
  color: #000;
}

.sub-nav a:hover {
  color: #7cb9a6;
}

/* ==========================================================================
     Video Hero CSS
     ========================================================================== */

.hero {
  overflow: hidden;
  background-color: #000;
  z-index: 1;
  position: relative;
}

.hero-content {
  text-align: center;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-title {
  color: #fff;
}

.hero-subtitle {
  color: #fff;
  margin: 0 0 20px 0;
}

.hero-btn {
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.1), 0 6px 20px 4px rgba(0, 0, 0, 0.1) !important;
}

.hero-btn:hover {
  box-shadow: 0 5px 16px 5px rgba(0, 0, 0, 0.4), 0 5px 16px 5px rgba(0, 0, 0, 0.04) !important;
}

header {
  width: 80%;
  height: 100vh;
  display: flex;
}

.flexible {
  overflow: hidden;
  position: absolute;
  background-position: center center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: opacity(.4);
  filter: opacity(.4);
  z-index: 0;
}

/* ==========================================================================
   TGOF Training Options CSS
   ========================================================================== */

.training-columns {
  margin: 30px 0 30px 0;
  background-color: #fff;
  z-index: 1000;
}

.training-column {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 40px 0 40px 0;
}

.training-body {
  padding: 34px 60px 34px 60px;
  border-radius: 10px;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
  min-height: 420px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}

.training-title {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  text-transform: uppercase;
  color: #1d7b5e;
}

.training-subtitle {
  text-align: center;
  font-style: italic;
}

.training-hr {
  width: 124px;
}

.training-list {
  -webkit-padding-start: 20px;
}

.training-btn {
  position: absolute;
  bottom: 0;
  margin: 18px 0 34px 0;
}

/* ==========================================================================
  About Resistance Flexibility Training CSS
  ========================================================================== */

.about-image {
  background: url(../images/home/about-flexibility-image.jpg) no-repeat center center;
  padding-left: 0px;
  padding-right: 0px;
}

.about-text {
  background-color: #59a28d;
  padding: 80px 60px 80px 60px;
}

.about-title {
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 10px;
}

.about-subtitle {
  color: #fff;
  font-style: italic;
  font-weight: 400;
}

.about-hr {
  border-top: 2px solid #ffffff !important;
  width: 124px;
  margin-left: 0;
}

.about-list {
  color: #fff;
  margin: 20px 0 0 0;
}

.concomitance {
  margin: 14px 0 60px 0;
}

.about-text-container {
  max-width: 683px;
}

/* ======+===================================================================
  Bob Cooley CSS
  ========================================================================== */

.bob-cooley {
  background: url(../images/home/bob-cooley-background-light.jpg) no-repeat center center fixed;
  background-size: cover;
}

.bob-cooley-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  padding: 100px 20px 100px 20px;
}

.qoute {
  text-transform: uppercase;
  text-align: center;
  color: #2d3e50;
}

.bob-cooley-btn {
  margin: 60px 0 0 0;
}

/* ======+===================================================================
    Events CSS
   ========================================================================== */

.event-container {
  background: url(../images/home/events-background.jpg) no-repeat center center;
  background-size: cover;
}

.event-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 100px 15px 100px 15px;
}

.events-title {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.events-subtitle {
  color: #fff;
  text-align: center;
}

.events-hr {
  width: 124px;
  border-top: 2px solid #ffffff !important;
}

/* ==========================================================================
   Trainers CSS
   ========================================================================== */

.trainer-container {
  margin: 80px 0 80px 0;
}

.trainer-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  margin: 0 0 20px 0;
}

.trainer-title {
  text-align: center;
  color: #007050;
  text-transform: uppercase;
}

.elite-trainer {
  margin: 30px 0 0 0;
  font-weight: 600;
  text-transform: uppercase;
  color: #2d3e50;
}

.trainer-subtitle {
  text-align: center;
  font-style: italic;
}

.profile-image {
  border-radius: 100%;
  height: 160px;
  width: 160px;
  border: 2px solid #59a28d;
}

.trainer-name {
  color: #59a28d;
  margin: 20px 0 0 0;
  font-weight: 600;
}

.trainer-info {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -webkit-padding-start: 0px;
}

.trainer-info-item:hover {
  color: #59a28d;
}

.trainer-info-item {
  margin: 6px 10px 30px 10px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #2d3e50;
}

.fa-spacing {
  padding: 0 6px 0 6px;
}

.profile-body {
  padding: 34px 30px 34px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}

.profile-column {
  margin: 20px 0 20px 0;
}

.btn-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding:30px;
}

/* ==========================================================================
   Training Navigator CSS
   ========================================================================== */

.navigator {
  background-color: #ffffff;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
  border-radius: 5px;
  padding: 20px 50px 10px 50px;
  margin: 30px 0 36px 0;
}

.navigator-title {
  text-align: center;
  color: #2d3e50;
  font-weight: 700;
}

.navigator-subtitle {
  text-align: center;
  font-style: italic;
}

.navigator-hr {
  max-width: 246px;
}

.group-categories-list {
  list-style: none;
  text-align: center;
  color: #59a28d;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -webkit-padding-start: 0px;
  margin-top: -10px;
}

.category {
  margin: 12px 10px 0 10px;
  font-size: 15px;
  font-weight: 500;
  background-color: #59a28d;
  padding: 10px 26px 10px 26px;
  color: #fff;
  border-radius: 70px;
  box-shadow: 0 4px 8px 4px rgba(167, 204, 192, 0.3), 0 6px 20px 4px rgba(167, 204, 192, 0.03);
  transition: all .2s ease-in-out;
}

.category:hover {
  text-decoration: none;
  background-color: #1d7b5e;
  box-shadow: 0 5px 16px 5px rgba(167, 204, 192, 0.7), 0 5px 16px 5px rgba(167, 204, 192, 0.07);
  transform: scale(1.05);
}

/* ==========================================================================
   Exercise Section CSS
   ========================================================================== */

.exercises-section {
  margin: 50px 0 12px 0;
}

.section-header {
  padding: 20px 0 16px 0;
  margin: 26px 0 0 0;
}

.section-title {
  color: #2d3e50;
  font-weight: 600;
  text-align: center;
}

.section-body {
  background-color: #ffffff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
  padding: 20px 15px;
}

.exercise-text {
  color: #2d3e50;
  display: block;
  margin-top: 10px;
  font-size: 0.87rem;
  text-align: center;
}

.exercise-icon-column {
  margin: 15px 0 15px 0;
}

.exercise-icon {
  background-color: #ffffff;
  border: 0px;
  border-radius: 10px;
  padding: 10px 2px 0 2px;
  transition: all .2s ease-in-out;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.exercise-icon:hover {
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
  transform: scale(1.06);
  color: #000;
}

.slim-small-gutter-right {
  padding-right: 3px;
}

.slim-small-gutter-left {
  padding-left: 3px;
}

.anchor-buffer {
  padding-top: 60px;
  margin-top: -60px;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.footer-nav {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -webkit-padding-start: 0px;
}

.footer-social-media {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -webkit-padding-start: 0px;
}

.footer-nav-item {
  margin: 12px 10px 0 10px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.footer-hr {
  border-top: 2px solid #ffffff !important;
  width: 130px;
}

.footer-body {
  background-color: #59a28d;
  padding: 20px 0 10px 0;
  border-top: 8px solid #a7ccc0;
}

.copyright-footer {
  background-color: #2d3e50;
  padding: 10px 0 3px 0;
  text-align: center;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/*  Extra small devices (portrait phones, less than 375px) */

@media only screen and (max-width: 375px) {
  .mobile-break {}
}

/*  Extra small devices (portrait phones, less than 576px) */

@media only screen and (max-width: 575px) {
  /* Controls Text spacing on mobile  for Nav*/
  .footer-nav {
    flex-direction: column;
  }
  .group-categories-list {
    flex-direction: column;
  }
  .about-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media only screen and (max-width: 767px) {}

/* Medium devices (tablets, 768px and up) */

@media only screen and (max-width: 991px) {
  /* Hides Desktop Navbar on Mobile */
  .sub-navbar {
    display: none;
  }
  /* Adjusts "Start Stretching Now" text on moible menu  */
  .nav-adjust {
    padding: .5rem 0 1rem;
  }
}

/* Large devices (desktops, 992px and up) */

@media only screen and (max-width: 1199px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media only screen and (min-width: 991px) {
  .mobile-nav {
    display: none;
  }
  .mobile-break {
    display: none;
  }
  .md-filler {
    display: none;
  }
  /* Adjusts padding gutters for "Body Maps" "Fitness" & "Troubleshooting" */
  .small-gutter-right {
    padding-right: 0px !important;
  }
  .small-gutter-left {
    padding-left: 0px !important;
  }
}
