/* Typography */

body {
  font: normal  16px/1.4 "proxima-nova",sans-serif;
}

h1 {
  font-size:48px;
  font-weight:700;
}

h2 {
  font-size:36px;
  font-weight:700;
}

h3 {
  font-size:28px;
  font-weight:400;
}

h4 {
  font-size:24px;
  font-weight:400;
}

h5 {
  font-size:18px;
  font-weight:400;
}

h6 {
  font-size:14px;
  font-weight:400;
}

.green {
  color:#007050;
}

a {
  color:#000000;
}

a:hover {
  color:#7cb9a6;
}

/* Typography End */


/* Elements */

hr.divider {
  border-top: 2px solid #007050;
}

.vr-divider {
   padding: 0 5px 0 5px;
   color:#007050;
}

/* Elements End */

/* Navbar */

.navbar {
  background-color:#59a28d;
  color:#ffffff;
}

.navbar a {
    color:#fff;
}

.navbar a:hover {
  color:#7cb9a6;
}

.navbar-container {
  padding: 0 30px 0 30px;
}

#navbarSupportedContent {
  color:#fff;
}

.navbar-brand {
  color:#ffffff;
}

.navbar-btn {
  color:#fff;
  background-color:transparent;
  border: 2px solid #fff;
  border-radius:0;
  padding:4px 16px 4px 16px;
}

.navbar-btn:hover {
  color:#7cb9a6;
  background-color:#fff;
  border: 2px solid #fff;
  border-radius:0;
  padding:4px 16px 4px 16px;
}

/* Nav Bar End */


/* Trainging Navigator */

.navigator {
  background-color:#f3f8f7;
  min-height:246px;
  border-radius:5px;
  padding:50px;
  margin: 30px 0 36px 0;
}

.navigator-title {
  text-align:center;
  color:#007050;
}

.navigator-subtitle {
  text-align:center;
  font-style:italic;
}

.navigator-hr {
  width:246px;
}


.group-categories-list {
  list-style: none;
  text-align:center;
  color:#59a28d;
  font-size:18px;
  display:inline;
}

/* Trainging Navigator End */


/* Exercises Section */

.exercises-section {
  margin-bottom: 36px;
}

.section-header {
  background-color:#59a28d;
  border-radius:5px 5px 0 0;
  padding:10px 0 3px 0;
}

.section-title {
  color:#fff;
  text-align:center;
}

.section-body {
  background-color:#f3f8f7;
  border-radius:0 0 0px 0px;
  padding: 15px 0 0 0;
}

/* Exercises Section End */
